.container {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 40px;
  /*background-color: papayawhip;*/

  border-radius: 8px;
  border: 2px solid ;

}
.odd {
  background-color:aliceblue;
}

.even {
  background-color:blanchedalmond;
}






h2 {
  font-size:3em;
  text-align: center;
  color: red;
  margin-bottom: 20px;
}

p{
  font-family : Calibri;
  font-size:1em;
}



.container h3 {
  margin: 0;
  color : #0065ff;

}
/*//Makes it so that user card indicates selection with a zoom in*/
/*.container:hover{*/
/*  transition: transform 0.5s ease;*/
/*  animation-duration: 3s;*/
/*  transform:scale(1.05);*/
/*}*/



.toggle-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #0056b3;
}
