
<div *ngIf = "vehicle" class="container"  >
    <h3>{{ vehicle.id }}. {{ vehicle.type | uppercase }}</h3>
    <p>Model: {{ vehicle.model | titlecase }}</p>
  <p>Model: {{ vehicle.cost | currency: 'CAD': "symbol-narrow" }}</p>
    <p>Year: {{ vehicle.year }}</p>
    <p>Kilometrage: {{ vehicle.km }} Kilometers</p>
    <p>Sold : {{ vehicle.isSold ? 'Yes' : 'No' }}</p> <!-- ternary operator to give user appropriate feedback -->
    <img [src]="vehicle.img" width="100" height="100" alt="No Image Found">


        <button (click)="toggleSoldStatus(vehicle)" class="toggle-button">
          Toggle Sold Status
        </button>





  </div>

<div *ngIf="error" class="error">{{ error }}</div>


