.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: papayawhip;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size:3em;
  text-align: center;
  color: red;
  margin-bottom: 20px;
}

p{
  font-family : Calibri;
  font-size:1em;
}

.user-card {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 1em;
  border-radius: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-card h3 {
  margin: 0;
  color : #0065ff;

}
//Makes it so that user card indicates selection with a zoom in
.user-card:hover{
  transition: transform 0.5s ease;
  animation-duration: 3s;
  transform:scale(1.05);
}

.user-card p {
  margin: 5px 0;
  color: #555;
}

.toggle-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #0056b3;
}
