


<!--way 1-->


<div *ngFor="let vehicle of vehicleList"  class="vehicle-list"  >

<div [routerLink]="['/vehicles',vehicle.id ]">
  <app-vehicle-list-item [vehicle]=vehicle> </app-vehicle-list-item >

</div>
<!--  routerLink="/vehicles" routerLinkActive="active"-->
<div routerLink="/vehicles" routerLinkActive="active">
  <button (click)="deleteVehicle(vehicle.id)">
  Delete Vehicle {{vehicle.model}}
    Id: ({{vehicle.id}})
  </button>
  </div>

<!--  Redirects back to modify Vehicle-->
  <button routerLink="/modify-vehicle" routerLinkActive="active">
    Edit {{vehicle.model}}
    Id: ({{vehicle.id}})
  </button>


<!--  <button (click)="toggleSoldStatus(vehicle)" class="toggle-button">-->
<!--    Toggle Sold Status-->
<!--  </button>-->

</div>


<!--<div class="nav-bar">-->
<!--  <nav>-->
<!--    <a routerLink="/vehicles" routerLinkActive="active">Vehicle List</a>-->
<!--    <a routerLink="/modify-vehicle" routerLinkActive="active">Modify Vehicle</a>-->



<!--  </nav>-->


<!--way 2-->
<!--<div class="vehicle-list">-->
<!--  @for (vehicle of vehicleList; track vehicle.id; let i = $index){-->


<!--  <app-vehicle-list-item [vehicle]="vehicle">-->
<!--    [class.odd] = "i % 2 === 0"-->
<!--    [class.even] = "i % 2 === 1"-->
<!--  </app-vehicle-list-item>-->
<!--  }-->

<!--</div>-->

<!-- -&#45;&#45; End of Way 2-->

<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;  <h2>User List</h2>&ndash;&gt;-->
<!--&lt;!&ndash;  <div *ngFor="let vehicle of vehicleList" class="user-card">&ndash;&gt;-->
<!--&lt;!&ndash;    <h3>{{ vehicle.id }}. {{ vehicle.type }}</h3>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>Model: {{ vehicle.model }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>Year: {{ vehicle.year }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>Kilometrage: {{ vehicle.km }} Kilometers</p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>Sold : {{ vehicle.isSold ? 'Yes' : 'No' }}</p> &lt;!&ndash; ternary operator to give user appropriate feedback &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;     Button to toggle Sold Status&ndash;&gt;-->
<!--&lt;!&ndash;        <button (click)="toggleSoldStatus(vehicle)" class="toggle-button">&ndash;&gt;-->
<!--&lt;!&ndash;          Toggle Sold Status&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->

<!--&lt;!&ndash;  even&ndash;&gt;-->
<!--  <div *ngIf="vehicle.id % 2==0; then thenBlock else elseBlock"></div>-->
<!--  <ng-template #thenBlock>-->
<!--    <div class="even">-->
<!--      <app-vehicle-list-item [vehicle]=vehicle> </app-vehicle-list-item>-->
<!--    </div>-->
<!--  </ng-template>-->

<!--&lt;!&ndash;odd&ndash;&gt;-->
<!--  <ng-template #elseBlock>-->
<!--    <div class="odd">-->
<!--    <app-vehicle-list-item [vehicle]=vehicle> </app-vehicle-list-item>-->
<!--  </div>-->
<!--  </ng-template>-->


